snippet th "Table Heading"
| ${1:Key} | ${2:Value} |
|-|-|
${0}
endsnippet

snippet tr "Table Row"
| ${1:Term} | ${2:Definition} |
${0}
endsnippet

snippet gt_detail "Github Detail Expand"
<details open>
<summary>${1:summary}</summary>
${0}
</details>
endsnippet

snippet hg "Hugo Start"

---
title: "${1}"
date: ${2:, `!v strftime('%Y-%m-%dT%H:%M:%S%z')`}
draft: false
tags: ["${3}"]
categories: ["${4}"]
mathjax: true
---

endsnippet

